{% extends 'base.html.twig' %}
{% block body %}
<style>
    #pdf {
        height: auto;
        width: 595px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
    }

</style>
{{dump(data2)}}
<div id="pdf">
<div class="my-60">
    <img src="{{entreprise.logo}}" class="w-full mb-2">

    <h1 class="text-center text-2xl mb-1">{{data.title}}</h1>
    <h2 class="text-center text-xl">{{entreprise.name}}</h2>
    <h3 class="text-center text-lg mb-5">{{entreprise.address}} - {{entreprise.city}}</h3>

    <div class="">
        <p class="text-center">Commentaires sur le rapport : {{data.commentary}}</p>
    </div>
</div>
<br/>
<br/>
<br/>
{% if data.graph1 == true %}
<div id="graph" class="mb-36">
<canvas id="myChart1"></canvas>
</div>
{% endif %}
{% if data.graph2 == true %}
<div id="graph" class="mb-36">
<canvas id="myChart2"></canvas>
</div>
{% endif %}
{% if data.graph3 == true %}
<div id="graph" class="mb-36">
<canvas id="myChart3"></canvas>
</div>
{% endif %}
{% if data.graph4 == true %}
<div id="graph" class="mb-36">
<canvas id="myChart4"></canvas>
</div>
{% endif %}
{% if data.graph5 == true %}
<div id="graph" class="mb-36">
<canvas id="myChart5"></canvas>
</div>
{% endif %}
{% if data.graph6 == true %}
<div id="graph" class="mb-36">
<canvas id="myChart6"></canvas>
</div>
{% endif %}
{% if data.graph7 == true %}
<div id="graph" class="mb-36">
<canvas id="myChart7"></canvas>
</div>

{% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
function dlPdf(){
var element = document.getElementById('pdf');
var opt = {
  margin:       1,
  filename:     '{{data.title}}.pdf',
  image:        { type: 'jpeg', quality: 0.98 },
  html2canvas: {
dpi: 300,
letterRendering: true,
useCORS: true
},
  jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
};

// New Promise-based usage:
//html2pdf().set(opt).from(element).save();

// Old monolithic-style usage:
html2pdf(element, opt);
}
const test = setTimeout(dlPdf, 1000);
</script>
<script>
{% if data.graph1 == true %}
var lineChartData1 = {
    labels: ["T0", "T1"],
    datasets: [{
        label: "Product 1 Evolution",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[0].product0SumT0}}, {{data2.moisturizing[0].product0SumT1}}],
            bezierCurve: false
        }, {
            label: "Product 1 Average",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[0].moyenneT0}}, {{data2.moisturizing[0].moyenneT1}}],
            bezierCurve: false
    }]

}
{% endif %}
{% if data.graph2 == true %}
var lineChartData2 = {
    labels: ["T0", "T1"],
    datasets: [{
        label: "Product 2 Evolution",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[1].product1SumT0}}, {{data2.moisturizing[1].product1SumT1}}],
            bezierCurve: false
        }, {
            label: "Product 2 Average",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[1].moyenneT0}}, {{data2.moisturizing[1].moyenneT1}}],
            bezierCurve: false
    }]

}
{% endif %}
{% if data.graph3 == true %}
var lineChartData3 = {
    labels: ["T0", "T1"],
    datasets: [{
        label: "Product 1",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[0].product0SumT0}}, {{data2.moisturizing[0].product0SumT1}}],
            bezierCurve: false
        }, {
            label: "Product 2",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[1].product1SumT0}}, {{data2.moisturizing[1].product1SumT1}}],
            bezierCurve: false
    }]
}
{% endif %}
{% if data.graph4 == true %}
var lineChartData4 = {
    labels: ["T0", "T1"],
    datasets: [{
        label: "Product 1",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[0].moyenneT0}}, {{data2.moisturizing[0].moyenneT1}}],
            bezierCurve: false
        }, {
            label: "Product 2",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[1].moyenneT0}}, {{data2.moisturizing[1].moyenneT1}}],
            bezierCurve: false
        }]

}
{% endif %}
{% if data.graph5 == true %}
var lineChartData5 = {
    labels: ["T0", "T1"],
    datasets: [{
        label: "Product 1 Evolution Antioxydant",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[0].product0SumT0}}, {{data2.moisturizing[0].product0SumT1}}],
            bezierCurve: false
        }, {
            label: "Product 1 Average Antioxydant",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[1].product1SumT0}}, {{data2.moisturizing[1].product1SumT1}}],
            bezierCurve: false
    }]
}
{% endif %}
{% if data.graph6 == true %}
var lineChartData6 = {
    labels: ["T0", "T1"],
    datasets: [{
        label: "Product 1",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[0].moyenneT0}}, {{data2.moisturizing[0].moyenneT1}}],
            bezierCurve: false
        }, {
            label: "Product 2",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            data: [{{data2.moisturizing[1].moyenneT0}}, {{data2.moisturizing[1].moyenneT1}}],
            bezierCurve: false
        }]

}
{% endif %}
{% if data.graph7 == true %}
var lineChartData7 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [{
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        data: [65, 59, 90, 81, 56, 55, 40],
        bezierCurve: false
    }]

}
{% endif %}
{% if data.graph7 == true %}
var lineChartData7 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [{
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        data: [65, 59, 90, 81, 56, 55, 40],
        bezierCurve: false
    }]

}
{% endif %}

var options = {
    bezierCurve: false,
};

{% if data.graph1 == true %}
var myLine1 = new Chart(document.getElementById("myChart1").getContext("2d"), {
    data: lineChartData1,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 - T0 - T1'
            }
        }
    }
});
{% endif %}
{% if data.graph2 == true %}
var myLine2 = new Chart(document.getElementById("myChart2").getContext("2d"), {
    data: lineChartData2,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 - T0 - T1'
            }
        }
    }
});
{% endif %}
{% if data.graph3  == true %}
var myLine3 = new Chart(document.getElementById("myChart3").getContext("2d"), {
    data: lineChartData3,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 evolution comparaison'
            }
        }
    }
});
{% endif %}
{% if data.graph4  == true %}
var myLine3 = new Chart(document.getElementById("myChart4").getContext("2d"), {
    data: lineChartData4,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison'
            }
        }
    }
});
{% endif %}
{% if data.graph5  == true %}
var myLine3 = new Chart(document.getElementById("myChart5").getContext("2d"), {
    data: lineChartData5,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Antioxydant Product 1 - T0 - T1'
            }
        }
    }
});
{% endif %}
{% if data.graph6  == true %}
var myLine3 = new Chart(document.getElementById("myChart6").getContext("2d"), {
    data: lineChartData6,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Antioxydant Product 2 - T0 - T1'
            }
        }
    }
});
{% endif %}
{% if data.graph7  == true %}
var myLine3 = new Chart(document.getElementById("myChart7").getContext("2d"), {
    data: lineChartData7,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 evolution comparaison antixoydant'
            }
        }
    }});
{% endif %}
{% if data.graph8  == true %}
var myLine3 = new Chart(document.getElementById("myChart8").getContext("2d"), {
    data: lineChartData8,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison antioxydant'
            }
        }
    }});
{% endif %}
</script>
{% endblock %}