{% extends 'base.html.twig' %}
{% block body %}
<style>
    #pdf {
        height: auto;
        width: 595px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
    }

</style>
<div id="pdf" class="bg-white">
<div class="my-80">
<canvas id="myChart1"></canvas>
</div>

<div class="my-80">
<canvas id="myChart2"></canvas>
</div>

<div class="my-80">
<canvas id="myChart3"></canvas>
</div>

<div class="my-80">
<canvas id="myChart4"></canvas>
</div>

<div class="my-80">
<canvas id="myChart5"></canvas>
</div>

<div class="my-80">
<canvas id="myChart6"></canvas>
</div>

<div class="my-80">
<canvas id="myChart7"></canvas>
</div>


<div class="my-80">
<canvas id="myChart8"></canvas>
</div>


<div class="my-80">
<canvas id="myChart9"></canvas>
</div>



<div class="my-80">
<canvas id="myChart10"></canvas>
</div>



<div class="my-80">
<canvas id="myChart11"></canvas>
</div>



<div class="my-80">
<canvas id="myChart12"></canvas>
</div>


<div class="my-80">
<canvas id="myChart13"></canvas>
</div>


<div class="my-80">
<canvas id="myChart14"></canvas>
</div>


<div class="my-80">
<canvas id="myChart15"></canvas>
</div>


<div class="my-80">
<canvas id="myChart16"></canvas>
</div>


<div class="my-80">
<canvas id="myChart17"></canvas>
</div>


<div class="my-80">
<canvas id="myChart18"></canvas>
</div>


<div class="my-80">
<canvas id="myChart19"></canvas>
</div>


<div class="my-80">
<canvas id="myChart20"></canvas>
</div>


<div class="my-80">
<canvas id="myChart21"></canvas>
</div>


<div class="my-80">
<canvas id="myChart22"></canvas>
</div>


<div class="my-80">
<canvas id="myChart23"></canvas>
</div>


<div class="my-80">
<canvas id="myChart24"></canvas>
</div>


<div class="my-80">
<canvas id="myChart25"></canvas>
</div>



<div class="my-80">
<canvas id="myChart26"></canvas>
</div>



<div class="my-80">
<canvas id="myChart27"></canvas>
</div>



<div class="my-80">
<canvas id="myChart28"></canvas>
</div>



<div class="my-80">
<canvas id="myChart29"></canvas>
</div>



<div class="my-80">
<canvas id="myChart30"></canvas>
</div>


<div class="my-80">
<canvas id="myChart31"></canvas>
</div>


<div class="my-80">
<canvas id="myChart32"></canvas>
</div>


<div class="my-80">
<canvas id="myChart33"></canvas>
</div>


<div class="my-80">
<canvas id="myChart34"></canvas>
</div>


<div class="my-80">
<canvas id="myChart35"></canvas>
</div>


<div class="my-80">
<canvas id="myChart36"></canvas>
</div>


</div>

<script>
var lineChartData1 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(0,255,0,1)",
        data: [{{data2.moisturizing[0].product0SumT0}}, {{data2.moisturizing[0].product0SumT1}}, {{data2.moisturizing[0].product0SumT2}}, {{data2.moisturizing[0].product0SumT3}}],
        bezierCurve: false
    }]

}

var lineChartData2 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(0,255,0,1)",
        borderColor: "rgba(255,255,0,1)",
        data: [{{data2.moisturizing[0].moyenneT0}}, {{data2.moisturizing[0].moyenneT1}}, {{data2.moisturizing[0].moyenneT2}}, {{data2.moisturizing[0].moyenneT3}}],
        bezierCurve: false
    }]

}

var lineChartData3 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(0,255,255,1)",
        borderColor: "rgba(0,0,255,1)",
        data: [{{data2.moisturizing[1].product1SumT0}}, {{data2.moisturizing[1].product1SumT1}}, {{data2.moisturizing[1].product1SumT2}}, {{data2.moisturizing[1].product1SumT3}}],
        bezierCurve: false
    }]

}

var lineChartData4 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(0,0,255,1)",
        borderColor: "rgba(0,255,255,1)",
        data: [{{data2.moisturizing[1].moyenneT0}}, {{data2.moisturizing[1].moyenneT1}}, {{data2.moisturizing[1].moyenneT2}}, {{data2.moisturizing[1].moyenneT3}}],
        bezierCurve: false
    }]

}

var lineChartData5 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
            label: "Product 1",
            backgroundColor: "rgba(255,255,0,1)",
            borderColor: "rgba(0,255,0,1)",
            data: [{{data2.moisturizing[0].product0SumT0}}, {{data2.moisturizing[0].product0SumT1}}, {{data2.moisturizing[0].product0SumT2}}, {{data2.moisturizing[0].product0SumT3}}],
            bezierCurve: false
        }, {
            label: "Product 2",
            backgroundColor: "rgba(0,255,0,1)",
            borderColor: "rgba(255,255,0,1)",
            data: [{{data2.moisturizing[1].product1SumT0}}, {{data2.moisturizing[1].product1SumT1}}, {{data2.moisturizing[1].product1SumT2}}, {{data2.moisturizing[1].product1SumT3}}],
            bezierCurve: false
    }]
}

var lineChartData6 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1",
            backgroundColor: "rgba(0,255,255,1)",
            borderColor: "rgba(0,0,255,1)",
            data: [{{data2.moisturizing[0].moyenneT0}}, {{data2.moisturizing[0].moyenneT1}}, {{data2.moisturizing[0].moyenneT2}}, {{data2.moisturizing[0].moyenneT3}}],
            bezierCurve: false
        }, {
            label: "Product 2",
            backgroundColor: "rgba(0,0,255,1)",
            borderColor: "rgba(0,255,255,1)",
            data: [{{data2.moisturizing[1].moyenneT0}}, {{data2.moisturizing[1].moyenneT1}}, {{data2.moisturizing[1].moyenneT2}}, {{data2.moisturizing[1].moyenneT3}}],
            bezierCurve: false
        }]

}

var lineChartData7 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,0,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.antioxydant[0].product0SumT0}}, {{data2.antioxydant[0].product0SumT1}}, {{data2.antioxydant[0].product0SumT2}}, {{data2.antioxydant[0].product0SumT3}}],
        bezierCurve: false
    }]

}

var lineChartData8 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,0,0,1)",
        data: [{{data2.antioxydant[1].product1SumT0}}, {{data2.antioxydant[1].product1SumT1}}, {{data2.antioxydant[1].product1SumT2}}, {{data2.antioxydant[1].product1SumT3}}],
        bezierCurve: false
    }]

}

var lineChartData9 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.antioxydant[0].moyenneT0}}, {{data2.antioxydant[0].moyenneT1}}, {{data2.antioxydant[0].moyenneT2}}, {{data2.antioxydant[0].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData10 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
        data: [{{data2.antioxydant[1].moyenneT0}}, {{data2.antioxydant[1].moyenneT1}}, {{data2.antioxydant[1].moyenneT2}}, {{data2.antioxydant[1].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData11 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
            label: "Product 1 Antioxydant",
            backgroundColor: "rgba(255,0,0,1)",
            borderColor: "rgba(255,0,255,1)",
            data: [{{data2.antioxydant[0].product0SumT0}}, {{data2.antioxydant[0].product0SumT1}}, {{data2.antioxydant[0].product0SumT2}}, {{data2.antioxydant[0].product0SumT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Antioxydant",
            backgroundColor: "rgba(255,0,255,1)",
            borderColor: "rgba(255,0,0,1)",
            data: [{{data2.antioxydant[1].product1SumT0}}, {{data2.antioxydant[1].product1SumT1}}, {{data2.antioxydant[1].product1SumT2}}, {{data2.antioxydant[1].product1SumT3}}],
            bezierCurve: false
        }]

}


var lineChartData12 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1 Antioxydant",
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
            data: [{{data2.antioxydant[0].moyenneT0}}, {{data2.antioxydant[0].moyenneT1}}, {{data2.antioxydant[0].moyenneT2}}, {{data2.antioxydant[0].moyenneT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Antioxydant",
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
            data: [{{data2.antioxydant[1].moyenneT0}}, {{data2.antioxydant[1].moyenneT1}}, {{data2.antioxydant[1].moyenneT2}}, {{data2.antioxydant[1].moyenneT3}}],
            bezierCurve: false
        }]

}


var lineChartData13 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.barriere[0].product0SumT0}}, {{data2.barriere[0].product0SumT1}}, {{data2.barriere[0].product0SumT2}}, {{data2.barriere[0].product0SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData14 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.barriere[0].moyenneT0}}, {{data2.barriere[0].moyenneT1}}, {{data2.barriere[0].moyenneT2}}, {{data2.barriere[0].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData15 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.barriere[1].product1SumT0}}, {{data2.barriere[1].product1SumT1}}, {{data2.barriere[1].product1SumT2}}, {{data2.barriere[1].product1SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData16 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.barriere[1].moyenneT0}}, {{data2.barriere[1].moyenneT1}}, {{data2.barriere[1].moyenneT2}}, {{data2.barriere[1].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData17 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1 Shield",
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
            data: [{{data2.barriere[0].product0SumT0}}, {{data2.barriere[0].product0SumT1}}, {{data2.barriere[0].product0SumT2}}, {{data2.barriere[0].product0SumT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Shield",
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
            data: [{{data2.barriere[1].product1SumT0}}, {{data2.barriere[1].product1SumT1}}, {{data2.barriere[1].product1SumT2}}, {{data2.barriere[1].product1SumT3}}],
            bezierCurve: false
        }]

}


var lineChartData18 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1 Shield",
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
            data: [{{data2.barriere[0].moyenneT0}}, {{data2.barriere[0].moyenneT1}}, {{data2.barriere[0].moyenneT2}}, {{data2.barriere[0].moyenneT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Shield",
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
            data: [{{data2.barriere[1].moyenneT0}}, {{data2.barriere[1].moyenneT1}}, {{data2.barriere[1].moyenneT2}}, {{data2.barriere[1].moyenneT3}}],
            bezierCurve: false
        }]

}


var lineChartData19 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(0,255,0,1)",
        data: [{{data2.untreatedSkinMoisturizing[0].product0SumT0}}, {{data2.untreatedSkinMoisturizing[0].product0SumT1}}, {{data2.untreatedSkinMoisturizing[0].product0SumT2}}, {{data2.untreatedSkinMoisturizing[0].product0SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData20 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(0,255,0,1)",
        borderColor: "rgba(255,255,0,1)",
        data: [{{data2.untreatedSkinMoisturizing[0].moyenneT0}}, {{data2.untreatedSkinMoisturizing[0].moyenneT1}}, {{data2.untreatedSkinMoisturizing[0].moyenneT2}}, {{data2.untreatedSkinMoisturizing[0].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData21 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(0,255,255,1)",
        borderColor: "rgba(0,0,255,1)",
        data: [{{data2.untreatedSkinMoisturizing[1].product1SumT0}}, {{data2.untreatedSkinMoisturizing[1].product1SumT1}}, {{data2.untreatedSkinMoisturizing[1].product1SumT2}}, {{data2.untreatedSkinMoisturizing[1].product1SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData22 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(0,0,255,1)",
        borderColor: "rgba(0,255,255,1)",
        data: [{{data2.untreatedSkinMoisturizing[1].moyenneT0}}, {{data2.untreatedSkinMoisturizing[1].moyenneT1}}, {{data2.untreatedSkinMoisturizing[1].moyenneT2}}, {{data2.untreatedSkinMoisturizing[1].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData23 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
            label: "Product 1 Untreat",
            backgroundColor: "rgba(255,255,0,1)",
            borderColor: "rgba(0,255,0,1)",
            data: [{{data2.untreatedSkinMoisturizing[0].product0SumT0}}, {{data2.untreatedSkinMoisturizing[0].product0SumT1}}, {{data2.untreatedSkinMoisturizing[0].product0SumT2}}, {{data2.untreatedSkinMoisturizing[0].product0SumT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Untreat",
            backgroundColor: "rgba(0,255,0,1)",
            borderColor: "rgba(255,255,0,1)",
            data: [{{data2.untreatedSkinMoisturizing[1].product1SumT0}}, {{data2.untreatedSkinMoisturizing[1].product1SumT1}}, {{data2.untreatedSkinMoisturizing[1].product1SumT2}}, {{data2.untreatedSkinMoisturizing[1].product1SumT3}}],
            bezierCurve: false
    }]
}


var lineChartData24 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1 Untreat",
            backgroundColor: "rgba(0,255,255,1)",
            borderColor: "rgba(0,0,255,1)",
            data: [{{data2.untreatedSkinMoisturizing[0].moyenneT0}}, {{data2.untreatedSkinMoisturizing[0].moyenneT1}}, {{data2.untreatedSkinMoisturizing[0].moyenneT2}}, {{data2.untreatedSkinMoisturizing[0].moyenneT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Untreat",
            backgroundColor: "rgba(0,0,255,1)",
            borderColor: "rgba(0,255,255,1)",
            data: [{{data2.untreatedSkinMoisturizing[1].moyenneT0}}, {{data2.untreatedSkinMoisturizing[1].moyenneT1}}, {{data2.untreatedSkinMoisturizing[1].moyenneT2}}, {{data2.untreatedSkinMoisturizing[1].moyenneT3}}],
            bezierCurve: false
        }]

}


var lineChartData25 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,0,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.untreatedSkinAntioxydant[0].product0SumT0}}, {{data2.untreatedSkinAntioxydant[0].product0SumT1}}, {{data2.untreatedSkinAntioxydant[0].product0SumT2}}, {{data2.untreatedSkinAntioxydant[0].product0SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData26 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,0,0,1)",
        data: [{{data2.untreatedSkinAntioxydant[1].product1SumT0}}, {{data2.untreatedSkinAntioxydant[1].product1SumT1}}, {{data2.untreatedSkinAntioxydant[1].product1SumT2}}, {{data2.untreatedSkinAntioxydant[1].product1SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData27 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.untreatedSkinAntioxydant[0].moyenneT0}}, {{data2.untreatedSkinAntioxydant[0].moyenneT1}}, {{data2.untreatedSkinAntioxydant[0].moyenneT2}}, {{data2.untreatedSkinAntioxydant[0].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData28 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
        data: [{{data2.untreatedSkinAntioxydant[1].moyenneT0}}, {{data2.untreatedSkinAntioxydant[1].moyenneT1}}, {{data2.untreatedSkinAntioxydant[1].moyenneT2}}, {{data2.untreatedSkinAntioxydant[1].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData29 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
            label: "Product 1 Antioxydant Untreat",
            backgroundColor: "rgba(255,0,0,1)",
            borderColor: "rgba(255,0,255,1)",
            data: [{{data2.untreatedSkinAntioxydant[0].product0SumT0}}, {{data2.untreatedSkinAntioxydant[0].product0SumT1}}, {{data2.untreatedSkinAntioxydant[0].product0SumT2}}, {{data2.untreatedSkinAntioxydant[0].product0SumT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Antioxydant Untreat",
            backgroundColor: "rgba(255,0,255,1)",
            borderColor: "rgba(255,0,0,1)",
            data: [{{data2.untreatedSkinAntioxydant[1].product1SumT0}}, {{data2.untreatedSkinAntioxydant[1].product1SumT1}}, {{data2.untreatedSkinAntioxydant[1].product1SumT2}}, {{data2.untreatedSkinAntioxydant[1].product1SumT3}}],
            bezierCurve: false
        }]

}


var lineChartData30 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1 Antioxydant Untreat",
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
            data: [{{data2.untreatedSkinAntioxydant[0].moyenneT0}}, {{data2.untreatedSkinAntioxydant[0].moyenneT1}}, {{data2.untreatedSkinAntioxydant[0].moyenneT2}}, {{data2.untreatedSkinAntioxydant[0].moyenneT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Antioxydant Untreat",
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
            data: [{{data2.untreatedSkinAntioxydant[1].moyenneT0}}, {{data2.untreatedSkinAntioxydant[1].moyenneT1}}, {{data2.untreatedSkinAntioxydant[1].moyenneT2}}, {{data2.untreatedSkinAntioxydant[1].moyenneT3}}],
            bezierCurve: false
        }]

}


var lineChartData31 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.untreatedSkinBarriere[0].product0SumT0}}, {{data2.untreatedSkinBarriere[0].product0SumT1}}, {{data2.untreatedSkinBarriere[0].product0SumT2}}, {{data2.untreatedSkinBarriere[0].product0SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData32 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.untreatedSkinBarriere[0].moyenneT0}}, {{data2.untreatedSkinBarriere[0].moyenneT1}}, {{data2.untreatedSkinBarriere[0].moyenneT2}}, {{data2.untreatedSkinBarriere[0].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData33 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.untreatedSkinBarriere[1].product1SumT0}}, {{data2.untreatedSkinBarriere[1].product1SumT1}}, {{data2.untreatedSkinBarriere[1].product1SumT2}}, {{data2.untreatedSkinBarriere[1].product1SumT3}}],
        bezierCurve: false
    }]

}


var lineChartData34 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
        data: [{{data2.untreatedSkinBarriere[1].moyenneT0}}, {{data2.untreatedSkinBarriere[1].moyenneT1}}, {{data2.untreatedSkinBarriere[1].moyenneT2}}, {{data2.untreatedSkinBarriere[1].moyenneT3}}],
        bezierCurve: false
    }]

}


var lineChartData35 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1 Shield Untreat",
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
            data: [{{data2.untreatedSkinBarriere[0].product0SumT0}}, {{data2.untreatedSkinBarriere[0].product0SumT1}}, {{data2.untreatedSkinBarriere[0].product0SumT2}}, {{data2.untreatedSkinBarriere[0].product0SumT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Shield Untreat",
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
            data: [{{data2.untreatedSkinBarriere[1].product1SumT0}}, {{data2.untreatedSkinBarriere[1].product1SumT1}}, {{data2.untreatedSkinBarriere[1].product1SumT2}}, {{data2.untreatedSkinBarriere[1].product1SumT3}}],
            bezierCurve: false
        }]

}


var lineChartData36 = {
    labels: ["T0", "TImme", "T7", "T14"],
    datasets: [{
        label: "Product 1 Shield Untreat",
        backgroundColor: "rgba(255,255,0,1)",
        borderColor: "rgba(255,0,255,1)",
            data: [{{data2.untreatedSkinBarriere[0].moyenneT0}}, {{data2.untreatedSkinBarriere[0].moyenneT1}}, {{data2.untreatedSkinBarriere[0].moyenneT2}}, {{data2.untreatedSkinBarriere[0].moyenneT3}}],
            bezierCurve: false
        }, {
            label: "Product 2 Shield Untreat",
        backgroundColor: "rgba(255,0,255,1)",
        borderColor: "rgba(255,255,0,1)",
            data: [{{data2.untreatedSkinBarriere[1].moyenneT0}}, {{data2.untreatedSkinBarriere[1].moyenneT1}}, {{data2.untreatedSkinBarriere[1].moyenneT2}}, {{data2.untreatedSkinBarriere[1].moyenneT3}}],
            bezierCurve: false
        }]

}

var options = {
    bezierCurve: false,
};

var myLine1 = new Chart(document.getElementById("myChart1").getContext("2d"), {
    data: lineChartData1,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 - Evolution T0 - T1'
            }
        }
    }
});

var myLine2 = new Chart(document.getElementById("myChart2").getContext("2d"), {
    data: lineChartData2,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 - Average T0 - T1'
            }
        }
    }
});


var myLine3 = new Chart(document.getElementById("myChart3").getContext("2d"), {
    data: lineChartData3,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 - Evolution T0 - T1'
            }
        }
    }
});


var myLine4 = new Chart(document.getElementById("myChart4").getContext("2d"), {
    data: lineChartData4,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 - average T0 - T1'
            }
        }
    }
});


var myLine5 = new Chart(document.getElementById("myChart5").getContext("2d"), {
    data: lineChartData5,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 comparaison'
            }
        }
    }
});


var myLine6 = new Chart(document.getElementById("myChart6").getContext("2d"), {
    data: lineChartData6,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison'
            }
        }
    }
});


var myLine7 = new Chart(document.getElementById("myChart7").getContext("2d"), {
    data: lineChartData7,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 - Evolution T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine8 = new Chart(document.getElementById("myChart8").getContext("2d"), {
    data: lineChartData8,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 - Average T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine9 = new Chart(document.getElementById("myChart9").getContext("2d"), {
    data: lineChartData9,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 - Evolution T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine10 = new Chart(document.getElementById("myChart10").getContext("2d"), {
    data: lineChartData10,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 - Average T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine11 = new Chart(document.getElementById("myChart11").getContext("2d"), {
    data: lineChartData11,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison antioxydant'
            }
        }
    }
});


var myLine12 = new Chart(document.getElementById("myChart12").getContext("2d"), {
    data: lineChartData12,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 evolution comparaison antioxydant'
            }
        }
    }
});


var myLine13 = new Chart(document.getElementById("myChart13").getContext("2d"), {
    data: lineChartData13,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 Treat - Evolution T0 - T1 - Shield'
            }
        }
    }
});


var myLine14 = new Chart(document.getElementById("myChart14").getContext("2d"), {
    data: lineChartData14,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 Treat - Average T0 - T1 - Shield'
            }
        }
    }
});


var myLine15 = new Chart(document.getElementById("myChart15").getContext("2d"), {
    data: lineChartData15,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 Treat - Evolution T0 - T1 - Shield'
            }
        }
    }
});


var myLine16 = new Chart(document.getElementById("myChart16").getContext("2d"), {
    data: lineChartData16,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 Treat - Average T0 - T1 - Shield'
            }
        }
    }
});


var myLine17 = new Chart(document.getElementById("myChart17").getContext("2d"), {
    data: lineChartData17,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison shield treat'
            }
        }
    }
});


var myLine18 = new Chart(document.getElementById("myChart18").getContext("2d"), {
    data: lineChartData18,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 evolution comparaison shield Treat'
            }
        }
    }
});


var myLine19 = new Chart(document.getElementById("myChart19").getContext("2d"), {
    data: lineChartData19,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 Untreat - Evolution T0 - T1'
            }
        }
    }
});


var myLine20 = new Chart(document.getElementById("myChart20").getContext("2d"), {
    data: lineChartData20,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 Untreat - Average T0 - T1'
            }
        }
    }
});


var myLine21 = new Chart(document.getElementById("myChart21").getContext("2d"), {
    data: lineChartData21,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 Untreat - Evolution T0 - T1'
            }
        }
    }
});


var myLine22 = new Chart(document.getElementById("myChart22").getContext("2d"), {
    data: lineChartData22,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 Untreat - average T0 - T1'
            }
        }
    }
});


var myLine23 = new Chart(document.getElementById("myChart23").getContext("2d"), {
    data: lineChartData23,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 comparaison Untreat'
            }
        }
    }
});


var myLine24 = new Chart(document.getElementById("myChart24").getContext("2d"), {
    data: lineChartData24,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison Untreat'
            }
        }
    }
});


var myLine25 = new Chart(document.getElementById("myChart25").getContext("2d"), {
    data: lineChartData25,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 Untreat - Evolution T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine26 = new Chart(document.getElementById("myChart26").getContext("2d"), {
    data: lineChartData26,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 Untreat - Average T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine27 = new Chart(document.getElementById("myChart27").getContext("2d"), {
    data: lineChartData27,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 Untreat - Evolution T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine28 = new Chart(document.getElementById("myChart28").getContext("2d"), {
    data: lineChartData28,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 Untreat - Average T0 - T1 - Antioxydant'
            }
        }
    }
});


var myLine29 = new Chart(document.getElementById("myChart29").getContext("2d"), {
    data: lineChartData29,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison antioxydant Untreat'
            }
        }
    }
});


var myLine30 = new Chart(document.getElementById("myChart30").getContext("2d"), {
    data: lineChartData30,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 evolution comparaison antioxydant Untreat'
            }
        }
    }
});


var myLine31 = new Chart(document.getElementById("myChart31").getContext("2d"), {
    data: lineChartData31,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 UnTreat - Evolution T0 - T1 - Shield'
            }
        }
    }
});


var myLine32 = new Chart(document.getElementById("myChart32").getContext("2d"), {
    data: lineChartData32,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 UnTreat - Average T0 - T1 - Shield'
            }
        }
    }
});


var myLine33 = new Chart(document.getElementById("myChart33").getContext("2d"), {
    data: lineChartData33,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 Treat - Evolution T0 - T1 - Shield'
            }
        }
    }
});


var myLine34 = new Chart(document.getElementById("myChart34").getContext("2d"), {
    data: lineChartData16,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 2 UnTreat - Average T0 - T1 - Shield'
            }
        }
    }
});

var myLine35 = new Chart(document.getElementById("myChart35").getContext("2d"), {
    data: lineChartData35,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 average comparaison shield untreat'
            }
        }
    }
});

var myLine36 = new Chart(document.getElementById("myChart36").getContext("2d"), {
    data: lineChartData36,
    type: "line",
    options: {
        options: options,
        plugins: {
            title: {
                display: true,
                text: 'Product 1 and Product 2 evolution comparaison shield unTreat'
            }
        }
    }
});
</script>
{% endblock %}