{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Contact</h1>

    {{ form_start(testForm) }}
        {{ form_row(testForm.Email, { 'attr': {'value': demande.contactEmail}}) }}
        {{ form_row(testForm.Sujet) }}
        {{ form_row(testForm.Contenu)}}
        <button type="submit" class="btn">Envoyé</button>
    {{ form_end(testForm) }}
{% endblock %}
