{% extends 'base.html.twig' %}

{% block title %}Generate{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Generate PDF Rapport</h1>

    {{ form_start(rapportForm) }}
        {{ form_row(rapportForm.title) }}
        {{ form_row(rapportForm.entreprise) }}
        <input type="checkbox" id="select-all">Tout Sélectionné
        {{ form_row(rapportForm.graph1)}}
        {{ form_row(rapportForm.graph2)}}
        {{ form_row(rapportForm.graph3)}}
        {{ form_row(rapportForm.graph4)}}
        {{ form_row(rapportForm.graph5)}}
        {{ form_row(rapportForm.graph6)}}
        {{ form_row(rapportForm.graph7)}}
        {{ form_row(rapportForm.graph8)}}
        {{ form_row(rapportForm.graph9)}}
        {{ form_row(rapportForm.graph10)}}
        {{ form_row(rapportForm.graph11)}}
        {{ form_row(rapportForm.graph12)}}
        {{ form_row(rapportForm.graph13)}}
        {{ form_row(rapportForm.graph14)}}
        {{ form_row(rapportForm.graph15)}}
        {{ form_row(rapportForm.graph16)}}
        {{ form_row(rapportForm.graph17)}}
        {{ form_row(rapportForm.graph18)}}
        {{ form_row(rapportForm.graph19)}}
        {{ form_row(rapportForm.graph20)}}
        {{ form_row(rapportForm.graph21)}}
        {{ form_row(rapportForm.graph22)}}
        {{ form_row(rapportForm.graph23)}}
        {{ form_row(rapportForm.graph24)}}
        {{ form_row(rapportForm.graph25)}}
        {{ form_row(rapportForm.graph26)}}
        {{ form_row(rapportForm.graph27)}}
        {{ form_row(rapportForm.graph28)}}
        {{ form_row(rapportForm.graph29)}}
        {{ form_row(rapportForm.graph30)}}
        {{ form_row(rapportForm.graph31)}}
        {{ form_row(rapportForm.graph32)}}
        {{ form_row(rapportForm.graph33)}}
        {{ form_row(rapportForm.graph34)}}
        {{ form_row(rapportForm.graph35)}}
        {{ form_row(rapportForm.graph36)}}
        {{ form_row(rapportForm.commentary)}}
        <button type="submit" class="btn">Généré</button>
    {{ form_end(rapportForm) }}
    <script>
        $('#select-all').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;                        
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;                       
                });
            }
        }); 
    </script>
{% endblock %}
