{% extends 'base.html.twig' %}

{% block title %}Rapport index{% endblock %}

{% block body %}
<div class="mb-5">
<nav class="bg-WBgey border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800 text-white">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
  <a href="#" class="flex items-center">
      <img src="{{ asset("images/logo.svg") }}" class="mr-3 h-6 sm:h-10 " alt="Flowbite Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Admin - WiredBeauty</span>
  </a>
  <div class="flex items-center md:order-2">
      <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" type="button" data-dropdown-toggle="dropdown">
        <span class="sr-only">Open user menu</span>
      </button>
      <!-- Dropdown menu -->
      <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown">
        <div class="py-3 px-4">
          <span class="block text-sm text-gray-900 dark:text-white">Profil</span>
          <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">/</span>
        </div>
        <ul class="py-1" aria-labelledby="dropdown">
            <li>
            <a href="/admin/relance" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Relance</a>
            </li>
            <li>
            <a href="/admin/newsletter" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Newsletter</a>
            </li>
            <li>
            <a href="/admin/generate" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Generate</a>
            </li>
            <li>
            <a href="/raport" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Raport</a>
            </li>
            <li>
            <a href="/page" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Page</a>
            </li>
            <li>
            <a href="/entreprise" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Entreprise</a>
            </li>
            <li>
            <a href="/protocol" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Protocol</a>
            </li>
            <li>
            <a href="/media" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Media</a>
            </li>
            <li>
            <a href="/article" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Blog</a>
            </li>
        </ul>
      </div>
      <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
  <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
          <a href="/admin/relance" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Relance</a>
        </li>
        <li>
          <a href="/admin/newsletter" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Newsletter</a>
        </li>
        <li>
          <a href="/admin/generate" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Generate</a>
        </li>
        <li>
          <a href="/raport" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Raport</a>
        </li>
        <li>
          <a href="/page" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Page</a>
        </li>
        <li>
          <a href="/entreprise" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Entreprise</a>
        </li>
        <li>
          <a href="/protocol" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Protocol</a>
        </li>
        <li>
          <a href="/media" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Media</a>
        </li>
        <li>
          <a href="/article" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Blog</a>
        </li>
    </ul>
  </div>
  </div>
</nav>
</div>
       <section class="p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800 w-4/5 my-12 py-5 text-black">
        <h2 class="text-lg text-center font-semibold text-gray-700 capitalize dark:text-dark">List of rapport</h2>
  <table class="mx-auto table-auto text-center">
    <thead>
      <tr class="bg-gradient-to-r from-indigo-600 to-purple-600">
        <th class="px-16 py-2">
          <span class="text-gray-100 font-semibold">Id</span>
        </th>
        <th class="px-16 py-2">
          <span class="text-gray-100 font-semibold">Path</span>
        </th>

        <th class="px-16 py-2">
          <span class="text-gray-100 font-semibold">Price</span>
        </th>

        <th class="px-16 py-2">
          <span class="text-gray-100 font-semibold">User</span>
        </th>

        <th class="px-16 py-2">
          <span class="text-gray-100 font-semibold">Protocol</span>
        </th>
        <th class="px-16 py-2">
          <span class="text-gray-100 font-semibold">Option</span>
        </th>
      </tr>
    </thead>
           <tbody class="bg-gray-200">
        {% for raport in raports %}
            <tr class="bg-white border-b-2 border-gray-200">
                <td><span class="text-center ml-2 font-semibold">{{ raport.id }}</span></td>
                <td class="px-16 py-2">{{ raport.path }}</td>
                <td class="px-16 py-2">{{ raport.price }}</td>
                <td class="px-16 py-2">User</td>
                <td class="px-16 py-2">{{ raport.protocol }}</td>
                <td class="px-16 py-2">
                    <a href="{{ path('app_raport_show', {'id': raport.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr class="bg-white border-b-2 border-gray-200">
                <td colspan="8"  class="px-16 py-2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
  </table>
    </section>
{% endblock %}
