{% extends 'base.html.twig' %}

{% block title %}Rapport index{% endblock %}

{% block body %}
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>path</th>
                <th>price</th>
                <th>user</th>
                <th>protocol</th>
            </tr>
        </thead>
        <tbody>
        {% for raport in raports %}
            <tr>
                <td>{{ raport.id }}</td>
                <td>{{ raport.path }}</td>
                <td>{{ raport.price }}</td>
                <td>User</td>
                <td>{{ raport.protocol }}</td>
                <td></td>
                <td>
                    <a href="{{ path('app_raport_show', {'id': raport.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
