{% extends 'base.html.twig' %}

{% block title %}Raport{% endblock %}

{% block body %}
    <h1>Raport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ raport.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ raport.path }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ raport.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_raport_index') }}">back to list</a>

    <a href="{{ path('app_raport_edit', {'id': raport.id}) }}">edit</a>

    {{ include('raport/_delete_form.html.twig') }}
{% endblock %}
